  <main>
        {{#if hasProducts}}
            <div class="grid">
                {{#each prods}}
                    <article class="card prodcut-item">
                        <header class="card_header">
                            <h1 class="product_title">{{this.title}}</h1>
                        </header>
                        <div class="card_image">
                            <img src="https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png" alt = "A Book">
                        </div>
                        <div class="card_content">
                            <h2 class="product_price">$19.99</h2>
                            <p class="product_description">A very intersting book about so many even more intersting things</p>
                        </div>
                        <div class="card_actions">
                            <button class="btn">Add to Cart</button>
                        </div>
                    </article>
                 {{/each}}
            </div>
        {{else}}
            <h1>No Products Found!!</h1>
        {{/if}}
    </main>