

<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">

</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(prods.length > 0) { %>
            <div class="grid">
                <% for(let product of prods){ %>
                    <article class="card product-item">
                        <header class="card_header">
                            <h1 class="product_title"><%= product.title %></h1>
                        </header>
                        <div class="card_image">
                            <img src="https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png" 
                            alt = "A Book">
                        </div>
                        <div class="card_content">
                            <h2 class="product_price">$19.99</h2>
                            <p class="product_description">A very intersting book about so many even more intersting things</p>
                        </div>
                        <div class="card_actions">
                            <button class="btn">Add to Cart</button>
                        </div>
                    </article>
                    <% } %>
            </div>
            <% } else{ %> 
                <h1>No Product Found!</h1>
            <% } %>
    </main>

<%- include('../includes/end.ejs') %>